body{
	background-color: #fff;
}


.header{
	display: flex;
	flex-direction: row;
	background-color: #ff6a00;
	height: 175px;
	width: 100%;
	font-family: sans-serif;
	font-size: 54pt;
	align-items: center;
	justify-content: center;


}


.container{
	display:flex;
	background-color: #8fabec;
	justify-content: space-around;
}

@media screen {
	body{
	 width: 99;
	}
}




}

.div1{
	display: flex;
	flex-direction: column;

}

.div2{

}

.footer{

}

